.navbar{
  width: 100%;
  padding: 1rem;
  height: 4rem;
  background-color: var(--body-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.logo{
  font-family: 'monoton',serif;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}
.darkSide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.darkSide span{
  color: grey;
  cursor: pointer;
}

.darkSide span#active{
  color: rgb(0, 238, 255);
  text-shadow: 0 0 3px grey;
}
.converter{
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.2s;
  padding: .3rem .5rem;
  border: 1px solid transparent;
  border-radius: .2rem;
}
.converter:hover{
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
}
@media screen and (min-width:576px) {
  .navbar{
    padding: 1rem 2rem;
    gap: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .darkSide {
    gap:1rem;
  }
}