.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  gap: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
}
.index {
  color: var(--text-color);
  text-align: start;
  width: 2.5rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.thumb {
  width: 25px;
  height: 25px;
}

.name {
  width: 7rem;
  display: none;
  text-align: left;
}

.abbreviation {
  width: 3rem;
}

.price {
  width: 8rem;
  text-align: right;
}

.changes{
  width: 4rem;
  text-align: right;
  display: none;
}
.oneHourchanges{
  width: 4rem;
  text-align: right;
}


.volume {
  display: none;
  width: 10rem;
  text-align: center;
}

.marketCap {
  display: none;
  width: 10rem;
  text-align: center;
}

@media screen and (min-width:576px) {
  .volume {
    display: block;
  }
}

@media screen and (min-width:768px) {
  .title {
    width: 10rem;
  }

  .name {
    display: block;
  }

  .marketCap {
    display: block;
  }
}

@media screen and (min-width:1200px) {
  #oneDayChange {
    display: block;
  }

  #oneWeekChange {
    display: block;
  }

  .changes {
    display: block;
  }
}