.app{
  width: 100%;
  --body-color:#f6f6f6;
  --main-color:#fff;
  --text-color:#000;
  --border-color:silver;
  background-color: var(--body-color);
  color: var(--text-color);
  min-height: 100vh;
}
.app#darkMode{
    --body-color: rgb(18,18,18);
    --main-color: rgb(18, 18, 18);
    --text-color: #fff;
    --border-color: #f6f6f6;
}