.app{
  width: 100%;
  --body-color:#9ab8ba;
  --main-color:#ddf7f8;
  --text-color:#0b1516;
  --border-color:#045256;
  --pagBtn-color:#ddf7f8;
  background-color: var(--body-color);
  color: var(--text-color);
  min-height: 100vh;
  padding-bottom: 5rem;
}
.app#darkMode{
  --body-color: #063e41;
  --main-color: #052a2c;
  --text-color: #fff;
  --border-color: #3a6669;
  --pagBtn-color: #03afb8;
}